@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
    font-family: "Roboto Condensed", sans-serif;
    
}

body {
    background-color: #FFFAF7;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.navbar-header {
    background-color: #FFFAF7 !important;
    font-size: 20px;
    color: black;
    z-index: 10;
    width: 100%;
}

.dropdown-toggle::after {
  display: none;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    color: black
}

.navbar-light .navbar-brand {
    font-size: 25px;
}

.header-icon {
  margin-top: -3px;
  font-size: 15px;
  margin-right: 2px;
}

.footer {
  background-color: #FBF9F0;
  clear: both;
}

.footer-header {
  font-size: 15px;
  color: lightslategray;
  font-weight: bold;
}
  
.footer-content {
  color: lightslategray;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
.navbar-brand {
  height: 35px;
  width: 90px;
  margin-top: -5px;
}
.flex-item {
  text-align: center;
}

.navbar-button {
  margin-top: 0px;
  width: 50px;
  padding-left: 8px;
}

.footer-content {
  text-align: center;
  margin-bottom: 5px;
  font-size: 10px;
}

.footer-header {
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
}

hr {
  margin-bottom: 5px;
  margin-top: 20px;
  width: 75% !important;
  text-align: center;
  margin: auto !important;
}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
.navbar-brand {
  height: 40px;
  width: 100px;
  margin-top: -5px;
}

.flex-item {
  text-align: center;
}

.navbar-button {
  margin-top: 0px;
  width: 50px;
  padding-left: 8px;
}

.footer-content {
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
}

.footer-header {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
}

hr {
  margin-bottom: 5px;
  margin-top: 20px;
  width: 75% !important;
  text-align: center;
  margin: auto !important;
}
}  

@media screen and (min-width: 768px) and (max-width: 992px) {
  .flex-item {
    text-align: center;
  }
  
  .navbar-button {
    margin-top: 0px;
    width: 50px;
    padding-left: 8px;
  }
  
  .footer-content {
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  .footer-header {
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
  }
  
  hr {
    margin-bottom: 5px;
    margin-top: 20px;
    width: 75% !important;
    text-align: center;
    margin: auto !important;
  }
  }  
