.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemImage {
  max-width: 100%;
  border-radius: 15px;
}

.category p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #9b6b57;
  text-shadow: 0 1px 18px 10px rgba(187, 52, 52, 0.25);
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
