.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #f09a61;
  border: 1px solid #f09a61;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #9b6b57;
  border-color: #9b6b57;
}